---
---

//
// IMPORTS
//
@import 'pure';
@import "variables";
@import "home";
@import "slideshow";
@import "nav";

body {
  font: 18px/1.4 $helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
}

.content-wrapper {
    padding-top:75px;
}

hr.fancy-line {
    border: 0;
    height: 1px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
    background: #f4f4f4;
}

@import "svg-icons";
