.post, .entry {
    max-width:1200px;
    margin:20px auto 50px;

    .caption {
        max-width:550px;
        margin:5px auto 20px;
        font-style: italic;
        display:block;
    }

    img {
        max-width:550px;
        margin:35px auto 10px;
        display:block;
    }
}