---
layout: default
---


<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">{{page.title}}</h1>
        <p class="splash-subhead">{{page.tagline}}</p>
        <p>
            <a href="#about" class="pure-button pure-button-primary">Learn More</a>
        </p>
    </div>
</div>

<div class="home-wrapper">
    <div class="home-content">
        <h2  id="about" class="content-head is-center">About</h2>
        <p class="content-description is-center">{{page.description}}</p>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-3">
                <h3 class="content-subhead">
                    Local Mapping
                </h3>
                <p>
                    Our vision is the whole world mapped, frequently updated by residents themselves as the world changes. Communities have equal access to creation of data, and capacity to use for decision making.

                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-3">
                <h3 class="content-subhead">
                    Community Focused
                </h3>
                <p>
                    Data about communities, is best collected by that community. The Week promotes community data collection, in communities, by communities. This is a survey activity, not a remote imagery digitization activity. Any kind of data is fine, whether infrastructure, demographic, or other.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-3">
                <h3 class="content-subhead">
                    Open Tools
                </h3>
                <p>
                    Data is which backed or integrated by detailed global imagery or vector data makes data real, present and contextualized. Rather than silo’d, data becomes fluid.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
    </div>

    <div class="content">
        <h2 id="contact" class="content-head is-center">Stay Updated</h2>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">

                <h4>Contact Us</h4>
                <p>
                   Email us at <a href="mailto:{{site.contact-links.email}}">{{site.contact-links.email}}</a>.
                </p>

                <h4>Stay updated about Local Geo Week</h4>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="//localgeoweek.us11.list-manage.com/subscribe/post?u=e0a3a9d18b47f27e76bb1866f&amp;id=4a489eb46f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-form  pure-form-stacked" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2></h2>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e0a3a9d18b47f27e76bb1866f_4a489eb46f" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button pure-button"></div>
                </div>
                </form>
                </div>

                <!--End mc_embed_signup-->
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Organizers</h4>
                <div class="l-box-lrg is-center pure-g">
                    <div class="pure-u-1-3">
                    <img class="pure-img-responsive" alt="File Icons" width="150" src="https://pbs.twimg.com/profile_images/623065075759382528/fyVG6Xjy_400x400.jpg">
                    </div>
                    <div class="pure-u-1-3">
                    <img class="pure-img-responsive" alt="File Icons" width="150" src="https://pbs.twimg.com/profile_images/441322778780659712/Rd07X3fe_400x400.png">
                    </div>
                    <div class="pure-u-1-3">
                    <img class="pure-img-responsive" alt="File Icons" width="150" src="https://pbs.twimg.com/profile_images/555060944628236288/uOFphzdR_400x400.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer l-box is-center">
    <footer>
        Image Credit: <a href="https://www.flickr.com/photos/walkingsf/6635655755/">Eric Fischer</a>
    </footer>
    </div>
</div>