---
layout: default
---


<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">{{page.title}}</h1>
        <p class="splash-subhead">{{page.tagline}}</p>
        <p>
            <a href="#about" class="pure-button pure-button-primary">Learn More</a>
        </p>
    </div>
</div>

<div class="home-wrapper">
    <div class="home-content">
        <h2  id="about" class="content-head is-center">About</h2>
        <p class="content-description is-center">{{page.description}}</p>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-3">
                <h3 class="content-subhead">
                    Local Mapping
                </h3>
                <p>
                    Our vision is the whole world mapped, frequently updated by residents themselves as the world changes. Communities have equal access to creation of data, and capacity to use for decision making.

                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-3">
                <h3 class="content-subhead">
                    Community Focused
                </h3>
                <p>
                    Data about communities, is best collected by that community. The Week promotes community data collection, in communities, by communities. This is a survey activity, not a remote imagery digitization activity. Any kind of data is fine, whether infrastructure, demographic, or other.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-3">
                <h3 class="content-subhead">
                    Open Tools
                </h3>
                <p>
                    Data is which backed or integrated by detailed global imagery or vector data makes data real, present and contextualized. Rather than silo’d, data becomes fluid.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
    </div>

    <div class="content">
        <h2 id="contact" class="content-head is-center">Stay Updated</h2>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">

                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

                <h4>Mailing List</h4>
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="name">Your Name</label>
                            <input id="name" class="pure-input-rounded" type="text" placeholder="Your Name">
                        </div>

                        <div class="pure-control-group">
                            <label for="email">Email Address</label>
                            <input id="email" class="pure-input-rounded" type="email" placeholder="Email Address">
                        </div>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button">Stay in Touch</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Organizers</h4>
                <div class="l-box-lrg is-center pure-g">
                    <div class="pure-u-1-3">
                    <img class="pure-img-responsive" alt="File Icons" width="150" src="https://pbs.twimg.com/profile_images/623065075759382528/fyVG6Xjy_400x400.jpg">
                    </div>
                    <div class="pure-u-1-3">
                    <img class="pure-img-responsive" alt="File Icons" width="150" src="https://pbs.twimg.com/profile_images/441322778780659712/Rd07X3fe_400x400.png">
                    </div>
                    <div class="pure-u-1-3">
                    <img class="pure-img-responsive" alt="File Icons" width="150" src="https://pbs.twimg.com/profile_images/555060944628236288/uOFphzdR_400x400.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer l-box is-center">
    <footer>
        Image Credit: <a href="https://www.flickr.com/photos/walkingsf/6635655755/">Eric Fischer</a>
    </footer>
    </div>
</div>