---
layout: default
slideshow: true
---

<div class="splash-container">
    <div id="vanilla-slideshow-container">
        <div id="vanilla-slideshow">
            <div class="vanilla-slide" data-src="{{site.url}}/images/home_slides/1.jpg"></div>
            <div class="vanilla-slide" data-src="{{site.url}}/images/home_slides/2.jpg"></div>
            <div class="vanilla-slide" data-src="{{site.url}}/images/home_slides/3.jpg"></div>
            <div class="vanilla-slide" data-src="{{site.url}}/images/home_slides/4.jpg"></div>
            <div class="vanilla-slide" data-src="{{site.url}}/images/home_slides/5.jpg"></div>
        </div>
        <div id="vanilla-indicators"></div>
    </div>
    <div class="splash">
        <h1 class="splash-head">{{page.title}}</h1>
        <p class="splash-subhead">{{page.tagline}}</p>
        <p>
            <a href="{{site.url}}/#about" class="pure-button pure-button-primary">Learn More</a>
        </p>
    </div>
</div>

<div id="about" class="home-wrapper">
    <div class="home-content">
        <h2 class="content-head is-center">About</h2>
        <p class="content-description is-center">{{page.description}}</p>
        <h4 class="content-head is-center">A global network event in November 2015.</h4>
        <div class="pure-g">
            {% for box in page.about-contents %}
            <div class="l-box pure-u-1-1 pure-u-md-1-4">
                <h3 class="content-subhead">
                    {{box.title}}
                </h3>
                <p>
                    {{box.text}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="ribbon l-box-lrg">
        <!-- <h2 class="content-head is-center content-head-ribbon">Participating Organizations</h2>
        <div class="pure-g">
        </div> -->
    </div>

    <div class="content">
        <h2 id="contact" class="content-head is-center">Stay Updated</h2>
        <div class="pure-g">
            <div class="pure-u-1 l-box pure-u-md-2-5">
                <h4>Contact Us</h4>
                <p>Get in touch at <a href="mailto:{{site.contact-links.email}}">{{site.contact-links.email}}</a>.
                </p>

                <h4>Subscribe to Updates</h4>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="//localgeoweek.us11.list-manage.com/subscribe/post?u=e0a3a9d18b47f27e76bb1866f&amp;id=4a489eb46f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-form pure-form-aligned" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group pure-control-group">
                        <label for="mce-EMAIL">Email Address </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e0a3a9d18b47f27e76bb1866f_4a489eb46f" tabindex="-1" value=""></div>
                    <div class="pure-controls">
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button pure-button"></div>
                    </div>
                </div>
                </form>
                </div>

                <!--End mc_embed_signup-->
            </div>

            <div class="pure-u-1 l-box pure-u-md-3-5">
                <h4>Organizers</h4>
                <div class="organizers-box pure-g">
                    <div class="pure-u-1-1 pure-u-sm-1-2 img-wrapper">
                    <a href="http://santafe.edu"><img class="pure-img-responsive" alt="File Icons" src="{{ site.url }}/images/santafe_logo.png"></a>
                    </div>
                    <div class="pure-u-1-1 pure-u-sm-1-2 img-wrapper">
                    <a href="http://mapgive.state.gov/"><img class="pure-img-responsive" alt="File Icons" src="{{ site.url }}/images/mapgive_logo.png"></a>
                    </div>
                    <div class="pure-u-1-1 pure-u-sm-1-5">
                    </div>
                    <div class="pure-u-1-1 pure-u-sm-3-5 img-wrapper">
                    <a href="http://sdinet.org"><img class="pure-img-responsive" alt="File Icons" src="{{ site.url }}/images/sdi_logo.png" style="background-color:black;padding:5px"></a>
                    </div>
                    <div class="pure-u-1-1 pure-u-sm-1-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer l-box is-center">
    <footer>
        Image Credits: Joe Hand, Muungano Wa Wanavijiji, Others
    </footer>
    </div>
</div>